---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"14900"

'
  recorded_at: Fri, 26 Apr 2019 09:42:55 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BLYTesp9Lwk2pvjmu31j2QrQDq2vhAq4vu7QJAbq4mKsUfDSNtP"

'
  recorded_at: Fri, 26 Apr 2019 09:42:55 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BLYTesp9Lwk2pvjmu31j2QrQDq2vhAq4vu7QJAbq4mKsUfDSNtP","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"100000","storage_limit":"6000","counter":"14901","fee":"50000","parameters":{"prim":"Left","args":[{"prim":"Unit"}]}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"6d64d1383afc9df5e43dc14ddfec71dfaa198d1698880a6f9e8861a170da997f080000982fd7853b46e70022bc56f12b427855a2adb67ed08603b574a08d06f02ec0843d018de89d0bb73173e415e3b737309f55867785183400ff000000040505030b"

'
  recorded_at: Fri, 26 Apr 2019 09:42:55 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BLYTesp9Lwk2pvjmu31j2QrQDq2vhAq4vu7QJAbq4mKsUfDSNtP","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"100000","storage_limit":"6000","counter":"14901","fee":"50000","parameters":{"prim":"Left","args":[{"prim":"Unit"}]}}],"signature":"edsigtkcNtgFZwKRyF1kSkMXVxSzpeGSHSVSjeECPi3UVaBkxAjeeZZi1vrTvw8V9Je3E3ZiNoUcuSEJKk5fwmjgpLw83TjuXjA"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"14901","gas_limit":"100000","storage_limit":"6000","amount":"1000000","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","parameters":{"prim":"Left","args":[{"prim":"Unit"}]},"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":162,"change":"50000"}],"operation_result":{"status":"applied","storage":{"prim":"Pair","args":[[{"bytes":"0000982fd7853b46e70022bc56f12b427855a2adb67e"}],{"prim":"Pair","args":[[],{"prim":"Pair","args":[{"int":"1"},{"int":"1"}]}]}]},"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-1000000"},{"kind":"contract","contract":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","change":"1000000"}],"consumed_gas":"55185","storage_size":"2326"}}}],"signature":"edsigtkcNtgFZwKRyF1kSkMXVxSzpeGSHSVSjeECPi3UVaBkxAjeeZZi1vrTvw8V9Je3E3ZiNoUcuSEJKk5fwmjgpLw83TjuXjA"}

'
  recorded_at: Fri, 26 Apr 2019 09:42:55 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":{"level":332522,"level_position":332521,"cycle":162,"cycle_position":745,"voting_period":40,"voting_period_position":4841,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"20045","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":162,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":162,"change":"16000000"}]}

'
  recorded_at: Fri, 26 Apr 2019 09:42:55 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","branch":"BLYTesp9Lwk2pvjmu31j2QrQDq2vhAq4vu7QJAbq4mKsUfDSNtP","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"65185","storage_limit":"6000","count[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"6d64d1383afc9df5e43dc14ddfec71dfaa198d1698880a6f9e8861a170da997f080000982fd7853b46e70022bc56f12b427855a2adb67ed08603b574a1fd03f02ec0843d018de89d0bb73173e415e3b737309f55867785183400ff000000040505030b011ef9a4c14347ec7069156d6a02973ddecaa78f565052e1d9684468107dca4369c8e68a19620dd3e500846fee8b9cc66e02335a610affccf776d430500c0f0c"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"onsU85kxotUX19wcKETG5sjUjMxqhijPbb5tMoDFfVXUQ2wvaM9"

'
  recorded_at: Fri, 26 Apr 2019 09:42:56 GMT
recorded_with: VCR 4.0.0
