---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BLVuiTkQGN2KciEzXshfif1cVeMXhnfEScP6Pc2XRLPjZx9ajT2"

'
  recorded_at: Fri, 12 Oct 2018 14:02:02 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"352"

'
  recorded_at: Fri, 12 Oct 2018 14:02:02 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BLVuiTkQGN2KciEzXshfif1cVeMXhnfEScP6Pc2XRLPjZx9ajT2","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","gas_limit":"40000","storage_limit":"6000","counter":"353","fee":"50000","parameters":{"prim":"Left","args":[{"prim":"Unit"}]}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"679a2c1ab70782bb83c0a65a490ad8449d3a3f07f20adff70e17fd1b20a53503080000982fd7853b46e70022bc56f12b427855a2adb67ed08603e102c0b802f02ec0843d01c42a6cf9f6f1fa3aa1a6cf090dda400223dece7100ff000000040505030b"

'
  recorded_at: Fri, 12 Oct 2018 14:02:02 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BLVuiTkQGN2KciEzXshfif1cVeMXhnfEScP6Pc2XRLPjZx9ajT2","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","gas_limit":"40000","storage_limit":"6000","counter":"353","fee":"50000","parameters":{"prim":"Left","args":[{"prim":"Unit"}]}}],"signature":"edsigth3eqgXVcpdF9XNxpcCV1QaadFgT5pZHeZVFxtm4GozwV6HXXPk8cLawoZscaadrMkKKgj4UX2GsbyaixqPBMjnLd2xAEN"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"353","gas_limit":"40000","storage_limit":"6000","amount":"1000000","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","parameters":{"prim":"Left","args":[{"prim":"Unit"}]},"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":68,"change":"50000"}],"operation_result":{"status":"applied","storage":{"prim":"Pair","args":[[{"bytes":"0000982fd7853b46e70022bc56f12b427855a2adb67e"}],{"prim":"Pair","args":[[],{"prim":"Pair","args":[{"int":"1"},{"int":"1"}]}]}]},"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-1000000"},{"kind":"contract","contract":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","change":"1000000"}],"consumed_gas":"38268","storage_size":"1719"}}}],"signature":"edsigth3eqgXVcpdF9XNxpcCV1QaadFgT5pZHeZVFxtm4GozwV6HXXPk8cLawoZscaadrMkKKgj4UX2GsbyaixqPBMjnLd2xAEN"}

'
  recorded_at: Fri, 12 Oct 2018 14:02:03 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","next_protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":{"level":140368,"level_position":140367,"cycle":68,"cycle_position":1103,"voting_period":4,"voting_period_position":9295,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":68,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":68,"change":"16000000"}]}

'
  recorded_at: Fri, 12 Oct 2018 14:02:03 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","branch":"BLVuiTkQGN2KciEzXshfif1cVeMXhnfEScP6Pc2XRLPjZx9ajT2","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","gas_limit":"48268","storage_limit":"0","counter"[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"679a2c1ab70782bb83c0a65a490ad8449d3a3f07f20adff70e17fd1b20a53503080000982fd7853b46e70022bc56f12b427855a2adb67ed08603e1028cf90200c0843d01c42a6cf9f6f1fa3aa1a6cf090dda400223dece7100ff000000040505030bd0f65d8acf125bccea2d2c7f7055bb4c8949d78d6a60f92f64c4abe451f4b46f82de30e48b2b2247d7d283668bbdd71854683413dae14dd755d89b25cdf5280e"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"oonNcB17UwfJ6AEdzrk9FabJWaekUayR13r5owiMMYRDL5zMWuq"

'
  recorded_at: Fri, 12 Oct 2018 14:02:03 GMT
recorded_with: VCR 4.0.0
