---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BM6NDwZ1D5N89ocyiDqqSgvsWvYXmhBqb9KS5iq1spZjxq1YNpT"

'
  recorded_at: Mon, 07 Jan 2019 16:36:31 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"13680"

'
  recorded_at: Mon, 07 Jan 2019 16:36:31 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BM6NDwZ1D5N89ocyiDqqSgvsWvYXmhBqb9KS5iq1spZjxq1YNpT","contents":[{"kind":"transaction","amount":"100000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"40000","storage_limit":"6000","counter":"13681","fee":"50000"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"b5d7561f7438c6bbff9214feeb0654b62dc00e3b30200335ac985c183dbce543080000982fd7853b46e70022bc56f12b427855a2adb67ed08603f16ac0b802f02ea08d060000982fd7853b46e70022bc56f12b427855a2adb67e00"

'
  recorded_at: Mon, 07 Jan 2019 16:36:31 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BM6NDwZ1D5N89ocyiDqqSgvsWvYXmhBqb9KS5iq1spZjxq1YNpT","contents":[{"kind":"transaction","amount":"100000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"40000","storage_limit":"6000","counter":"13681","fee":"50000"}],"signature":"edsigtdfRExUQJxFWkBUiquwt4MZeFnLFpWGBWd38jrsEVD1eNrNVZmgTMmMHXC8nbPNGoz6pah68kp6fXeYU5u49CgaW98U5Bq"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"kind":"branch","id":"proto.003-PsddFKi3.implicit.empty_implicit_contract","implicit":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}]

'
  recorded_at: Mon, 07 Jan 2019 16:36:31 GMT
recorded_with: VCR 4.0.0
