---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BLdsrxBBhMiv6zvMszGsprZQL6pgJyvaVRUWmtmTXUM8dRH42xr"

'
  recorded_at: Mon, 07 Jan 2019 16:34:56 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"13680"

'
  recorded_at: Mon, 07 Jan 2019 16:34:56 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BLdsrxBBhMiv6zvMszGsprZQL6pgJyvaVRUWmtmTXUM8dRH42xr","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"40000","storage_limit":"6000","counter":"13681","fee":"50000"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"79b1d46a7ce9b9bc5261a1e301f91364b4619edd9bc16b8cb75e88b3d1872a4d080000982fd7853b46e70022bc56f12b427855a2adb67ed08603f16ac0b802f02ec0843d0000982fd7853b46e70022bc56f12b427855a2adb67e00"

'
  recorded_at: Mon, 07 Jan 2019 16:34:56 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BLdsrxBBhMiv6zvMszGsprZQL6pgJyvaVRUWmtmTXUM8dRH42xr","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"40000","storage_limit":"6000","counter":"13681","fee":"50000"}],"signature":"edsigtwDwNj7MafZkQ77zBgUxAqTSFcvR3ChqJdK1VpPCSEsrzWdcFXeLbsM6Dktutqkhf17ieCCu7DmUvg7CYbsPSFynhpuZKY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"kind":"branch","id":"proto.003-PsddFKi3.implicit.empty_implicit_contract","implicit":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}]

'
  recorded_at: Mon, 07 Jan 2019 16:34:56 GMT
recorded_with: VCR 4.0.0
