---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BL2cs6rgJXYFPQWiuaUiydUTpFxR3pcYrgyYUigVV9vShVV1oNj"

'
  recorded_at: Tue, 08 Jan 2019 14:21:12 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"13808"

'
  recorded_at: Tue, 08 Jan 2019 14:21:12 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BL2cs6rgJXYFPQWiuaUiydUTpFxR3pcYrgyYUigVV9vShVV1oNj","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"40000","storage_limit":"6000","counter":"13809","fee":"50000"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"29a2bfa78a0e826bb93d1ae93c154773811af736cd9a2851b2fcae56a335b0bf080000982fd7853b46e70022bc56f12b427855a2adb67ed08603f16bc0b802f02ec0843d0000982fd7853b46e70022bc56f12b427855a2adb67e00"

'
  recorded_at: Tue, 08 Jan 2019 14:21:12 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BL2cs6rgJXYFPQWiuaUiydUTpFxR3pcYrgyYUigVV9vShVV1oNj","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"40000","storage_limit":"6000","counter":"13809","fee":"50000"}],"signature":"edsigtnetcUntetjJp9GWi9YrWkCYZpgm1tH1TVrXwK9cmYGuTx6t66ubqjsR8FUeQiHsQAPE16C7JzkBuJS78CV7H8M5ncW8b3"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"13809","gas_limit":"40000","storage_limit":"6000","amount":"1000000","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":43,"change":"50000"}],"operation_result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-1000000"},{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"1000000"}],"consumed_gas":"10100"}}}],"signature":"edsigtnetcUntetjJp9GWi9YrWkCYZpgm1tH1TVrXwK9cmYGuTx6t66ubqjsR8FUeQiHsQAPE16C7JzkBuJS78CV7H8M5ncW8b3"}

'
  recorded_at: Tue, 08 Jan 2019 14:21:12 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","level":{"level":88633,"level_position":88632,"cycle":43,"cycle_position":568,"voting_period":10,"voting_period_position":6712,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"10100","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","level":43,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","level":43,"change":"16000000"}]}

'
  recorded_at: Tue, 08 Jan 2019 14:21:12 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","branch":"BL2cs6rgJXYFPQWiuaUiydUTpFxR3pcYrgyYUigVV9vShVV1oNj","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"20100","storage_limit":"0","counter"[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"29a2bfa78a0e826bb93d1ae93c154773811af736cd9a2851b2fcae56a335b0bf080000982fd7853b46e70022bc56f12b427855a2adb67ed08603f16b849d0100c0843d0000982fd7853b46e70022bc56f12b427855a2adb67e00f35471c3d94eff6f68a09ccfc473403fa49a55f66a5decb077e5f5b73fa8927618b2915dbd1154e2c540d432d0051f73fb3c4f52b521a8eb696c01aec09e5705"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"ooSNYckUCuMqM2UqdXfk3grd7KLnHt7GjEnngo87FGFfbNE66J2"

'
  recorded_at: Tue, 08 Jan 2019 14:21:12 GMT
recorded_with: VCR 4.0.0
