---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BKqAoRYPqtX1DRMLvKGkv29eJgRD4AKUQQEF3pK9gZRBwunC37c"

'
  recorded_at: Wed, 16 Jan 2019 18:57:43 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"15379"

'
  recorded_at: Wed, 16 Jan 2019 18:57:43 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BKqAoRYPqtX1DRMLvKGkv29eJgRD4AKUQQEF3pK9gZRBwunC37c","contents":[{"kind":"activate_account","pkh":"tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21","secret":"23d18abce360452faa65b9909b6bf259562af0f8"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"0fa37797fa72e7dc9ea4e44cd5c31e04dddfedcef16f68469516644ece05926d0441c850626824645de0400aa1cfc52d4bc040c32823d18abce360452faa65b9909b6bf259562af0f8"

'
  recorded_at: Wed, 16 Jan 2019 18:57:43 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BKqAoRYPqtX1DRMLvKGkv29eJgRD4AKUQQEF3pK9gZRBwunC37c","contents":[{"kind":"activate_account","pkh":"tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21","secret":"23d18abce360452faa65b9909b6bf259562af0f8"}],"signature":"edsigtk8ya4m7Xekyjf1Adgi6i9oJ7fhxZ4vGDu46LDgiYs8bGLvgsP3eE8MoWBvNmeLp9qKNB9pRsgFPE11vbrTXfSjvXTS2A3"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"activate_account","pkh":"tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21","secret":"23d18abce360452faa65b9909b6bf259562af0f8","metadata":{"balance_updates":[{"kind":"contract","contract":"tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21","change":"24562894770"}]}}],"signature":"edsigtk8ya4m7Xekyjf1Adgi6i9oJ7fhxZ4vGDu46LDgiYs8bGLvgsP3eE8MoWBvNmeLp9qKNB9pRsgFPE11vbrTXfSjvXTS2A3"}

'
  recorded_at: Wed, 16 Jan 2019 18:57:44 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":{"level":108695,"level_position":108694,"cycle":53,"cycle_position":150,"voting_period":13,"voting_period_position":2198,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":53,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":53,"change":"16000000"}]}

'
  recorded_at: Wed, 16 Jan 2019 18:57:44 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","branch":"BKqAoRYPqtX1DRMLvKGkv29eJgRD4AKUQQEF3pK9gZRBwunC37c","contents":[{"kind":"activate_account","pkh":"tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21","secret":"23d18abce360452faa65b9909b6bf259562af0f8"}],"signature":"edsigtk8ya4m7Xekyjf1Adgi6i9oJ7fhxZ4vGDu46LDgiYs8bGLvgsP3eE8MoWBvNmeLp9qKNB9pRsgFPE11vbrTXfSjvXTS2A3"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"contents":[{"kind":"activate_account","pkh":"tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21","secret":"23d18abce360452faa65b9909b6bf259562af0f8","metadata":{"balance_updates":[{"kind":"contract","contract":"tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21","change":"24562894770"}]}}],"signature":"edsigtk8ya4m7Xekyjf1Adgi6i9oJ7fhxZ4vGDu46LDgiYs8bGLvgsP3eE8MoWBvNmeLp9qKNB9pRsgFPE11vbrTXfSjvXTS2A3"}]

'
  recorded_at: Wed, 16 Jan 2019 18:57:44 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"0fa37797fa72e7dc9ea4e44cd5c31e04dddfedcef16f68469516644ece05926d0441c850626824645de0400aa1cfc52d4bc040c32823d18abce360452faa65b9909b6bf259562af0f85e4157e282618ac760e37a2aaac5f27661f59a03414e66d3fb5cb90ef7635491dfb60885af216a952539119b639b1143fa42a72d927d0988f8b48ea36aaaf50a"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"ooRimnjNRwP1Mv6YKuGMLT5L4Du9q193doELWoKRuX5j5aNitip"

'
  recorded_at: Wed, 16 Jan 2019 18:57:44 GMT
recorded_with: VCR 4.0.0
