/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
node_modules/

# rspec failure tracking
.rspec_status

# Rubymine configuration file
.idea/*

# vim ctags
.tags

package-lock.json
