---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BLJsYFqAiPJ3gaHL7zKS4J2YmG9juLZAR9cyKbq8APWrdmYVDo8"

'
  recorded_at: Mon, 07 Jan 2019 16:33:38 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"13680"

'
  recorded_at: Mon, 07 Jan 2019 16:33:38 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//protocols
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '["ProtoDemoDemoDemoDemoDemoDemoDemoDemoDemoDemoD3c8k9","PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","Ps6mwMrF2ER2s51cp9yYpjDcuzQjsc2yAz8bQsRgdaRxw4Fk95H"]

'
  recorded_at: Mon, 07 Jan 2019 16:33:38 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BLJsYFqAiPJ3gaHL7zKS4J2YmG9juLZAR9cyKbq8APWrdmYVDo8","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"50000","storage_limit":"6000","counter":"13681","fee":"50000"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"4e8a4acfb4b9ebad1241f68583cde026bdfeef588a8965cb2a4af564328c8bad080000982fd7853b46e70022bc56f12b427855a2adb67ed08603f16ad08603f02ec0843d0000982fd7853b46e70022bc56f12b427855a2adb67e00"

'
  recorded_at: Mon, 07 Jan 2019 16:33:38 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"ProtoDemoDemoDemoDemoDemoDemoDemoDemoDemoDemoD3c8k9","branch":"BLJsYFqAiPJ3gaHL7zKS4J2YmG9juLZAR9cyKbq8APWrdmYVDo8","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"50000","storage_limit":"6000","counter":"13681","fee":"50000"}],"signature":"edsigtbkq7roYen1992ozfF88dMVTEHFoZwqfzyAduKTNMjpgvA8u5ftKjACv37wK8CfhpJaAGcKqoeVkru3YsZVvjbkZrsen8m"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 'Failed to parse the request body: Unexpected string instead of PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP'
  recorded_at: Mon, 07 Jan 2019 16:33:38 GMT
recorded_with: VCR 4.0.0
