---
http_interactions:
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BLHrbMeJdbd5f52gPYdJiJYxGKmzxstaerGUPx53t9qD2GykmBj"

'
  recorded_at: Mon, 01 Oct 2018 09:57:40 GMT
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"295"

'
  recorded_at: Mon, 01 Oct 2018 09:57:40 GMT
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//protocols
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '["PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","Ps6mwMrF2ER2s51cp9yYpjDcuzQjsc2yAz8bQsRgdaRxw4Fk95H"]

'
  recorded_at: Mon, 01 Oct 2018 09:57:40 GMT
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BLHrbMeJdbd5f52gPYdJiJYxGKmzxstaerGUPx53t9qD2GykmBj","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"50000","storage_limit":"6000","counter":"296","fee":"50000"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"4c3b86cc6ed104d71786ecea5457eeb106fe51e34c8df949cb8fbab429859de7080000982fd7853b46e70022bc56f12b427855a2adb67ed08603a802d08603f02ec0843d0000982fd7853b46e70022bc56f12b427855a2adb67e00"

'
  recorded_at: Mon, 01 Oct 2018 09:57:40 GMT
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","branch":"BLHrbMeJdbd5f52gPYdJiJYxGKmzxstaerGUPx53t9qD2GykmBj","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"50000","storage_limit":"6000","counter":"296","fee":"50000"}],"signature":"edsigu2j61Zox172HD5v8fLpJhVp1eWmoujq9DBHPssiuKDw9PGYuZ6MHQCg4m2Z1Fsthb4fhA8HWc2fycSndhn6cgHUhWDxA8F"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"296","gas_limit":"50000","storage_limit":"6000","amount":"1000000","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":62,"change":"50000"}],"operation_result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-1000000"},{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"1000000"}],"consumed_gas":"100"}}}],"signature":"edsigu2j61Zox172HD5v8fLpJhVp1eWmoujq9DBHPssiuKDw9PGYuZ6MHQCg4m2Z1Fsthb4fhA8HWc2fycSndhn6cgHUhWDxA8F"}]

'
  recorded_at: Mon, 01 Oct 2018 09:57:40 GMT
recorded_with: VCR 4.0.0
