---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"15564"

'
  recorded_at: Fri, 13 Sep 2019 09:23:58 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BM7hDu2iguYqx2bKtXHWBF378KNTxBnfCh1B7LJ4BhdpCwg4q2s"

'
  recorded_at: Fri, 13 Sep 2019 09:23:58 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BM7hDu2iguYqx2bKtXHWBF378KNTxBnfCh1B7LJ4BhdpCwg4q2s","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"15565","fee":"50000"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"b8db06fd9dc9ee35537f8c80f3c9a755e32e42224609aeddb230b2774cdd3491080000982fd7853b46e70022bc56f12b427855a2adb67ed08603cd79a08d06f02ec0843d0000982fd7853b46e70022bc56f12b427855a2adb67e00"

'
  recorded_at: Fri, 13 Sep 2019 09:23:58 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BM7hDu2iguYqx2bKtXHWBF378KNTxBnfCh1B7LJ4BhdpCwg4q2s","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"15565","fee":"50000"}],"signature":"edsigtx3rZPJSJWUDo9P6yesKHi4SPCFyXnAvTj2WihPHEpHoLj4rZETNdGRodBpZrEZ9w5QMi3tzmNbPdSo8wdsuV3oGQQZFaS"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"15565","gas_limit":"100000","storage_limit":"6000","amount":"1000000","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","cycle":320,"change":"50000"}],"operation_result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-1000000"},{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"1000000"}],"consumed_gas":"10200"}}}],"signature":"edsigtx3rZPJSJWUDo9P6yesKHi4SPCFyXnAvTj2WihPHEpHoLj4rZETNdGRodBpZrEZ9w5QMi3tzmNbPdSo8wdsuV3oGQQZFaS"}

'
  recorded_at: Fri, 13 Sep 2019 09:23:58 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"Pt24m4xiPbLDhVgVfABUjirbmda3yohdN82Sp9FeuAXJ4eV9otd","next_protocol":"Pt24m4xiPbLDhVgVfABUjirbmda3yohdN82Sp9FeuAXJ4eV9otd","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":{"level":656520,"level_position":656519,"cycle":320,"cycle_position":1159,"voting_period":80,"voting_period_position":1159,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"81200","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","cycle":320,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","cycle":320,"change":"16000000"}]}

'
  recorded_at: Fri, 13 Sep 2019 09:23:58 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"Pt24m4xiPbLDhVgVfABUjirbmda3yohdN82Sp9FeuAXJ4eV9otd","branch":"BM7hDu2iguYqx2bKtXHWBF378KNTxBnfCh1B7LJ4BhdpCwg4q2s","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"11200","storage_limit":"6000","count[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"b8db06fd9dc9ee35537f8c80f3c9a755e32e42224609aeddb230b2774cdd3491080000982fd7853b46e70022bc56f12b427855a2adb67ed08603cd79c057f02ec0843d0000982fd7853b46e70022bc56f12b427855a2adb67e00d405eb3a8d0a2f7864b1da13efb6b6b445b9eff90a94561ffa7e130acdeb83af0805f24f564a40cb13852e9ed73bc6ffaf6b0b637b6b05a802ddb938fc808c06"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"ooG1yDxcathdNyjVypKzcjwJhfRQRcvfyGwyYo8dNpXoVdVjFpm"

'
  recorded_at: Fri, 13 Sep 2019 09:23:58 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io/chains/main/mempool/pending_operations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"applied":[{"hash":"opV7rXSZBmGpAGLYGWJiNp112DmNosKqmo7v9kQxMSZpLReTkQH","branch":"BM7hDu2iguYqx2bKtXHWBF378KNTxBnfCh1B7LJ4BhdpCwg4q2s","contents":[{"kind":"endorsement","level":656520}],"signature":"sigrDaaEzcNoTVvMDbJJggHGj9gR9UhEzeG3SWWmcWfMUVmidQRCHSVhjwH3GWhy35YxWrst5BZ2Zmzm28DbmuSYoG51pLT7"},{"hash":"opB9wg3XCeTG2wqx2FVNjezuh6Mk6ZiMqP6gsjAJgWPWNNPhxZG","branch":"BM7hDu2iguYqx2bKtXHWBF378KNTxBnfCh1B7LJ4BhdpCwg4q2s","contents":[{"kind":"endorsement","level":656520}],"signature":"sigZeKSmZC41AmsJgHgMY5bHZ6SGeCr[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/mempool/filter
    body:
      encoding: UTF-8
      string: '{"source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Fri, 13 Sep 2019 09:23:59 GMT
recorded_with: VCR 4.0.0
