---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/BLHKSpcKZkLjf1e4dPUy8AFcMVtdRRTAxfhfYJ7SM5dH38VDmZR/operations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"onphbFHctGdZyJU3BQwpQAXb5dn63QTAGQft4mj2qfPJhKCyx4B","branch":"BLJsHDbiCy5JZjNu6xwNfPqyG3SEmXDSN9Ur5bouyrftbbGJh95","contents":[{"kind":"endorsement","level":88749,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","change":"-256000000"},{"kind":"freezer","category":"deposits","delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","level":43,"change":"256000000"},{"kind":"freezer","category":"rewards","delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","level":43,"change":"4000000"}],"delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","slots":[26,18,11,2]}}],"signature":"sigpk5tVMYDGBT1HBsNeMTzfarr87ZjWifHoL3JjrWGKiGjN1rodgxwi12Xy9g65prqVMv1kLV7TgqVuVk53MuGsSAWVZGBT"},{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"oox59oLaUoRcNJwDE3n2qz44dqi2HYUtTwVpeLG5ue4jdyv16f9","branch":"BLJsHDbiCy5JZjNu6xwNfPqyG3SEmXDSN9Ur5bouyrftbbGJh95","contents":[{"kind":"endorsement","level":88749,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1db53osfzRqqgQeLtBt4kcFcQoXJwPJJ5G","change":"-64000000"},{"kind":"fr[...]
