---
http_interactions:
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BKudcDt95AT2MX2W4BgwKEDT9ZSkHC35m9Me59ytsbTm5ZFHXR5"

'
  recorded_at: Mon, 01 Oct 2018 10:05:03 GMT
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"298"

'
  recorded_at: Mon, 01 Oct 2018 10:05:03 GMT
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BKudcDt95AT2MX2W4BgwKEDT9ZSkHC35m9Me59ytsbTm5ZFHXR5","contents":[{"kind":"origination","delegatable":false,"spendable":false,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"299","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","script":{"code":[{"prim":"parameter","args":[{"prim":"or","args":[{"prim":"unit"},{"prim":"option","args":[{"prim":"pair","args":[{"prim":"key_hash"},{"prim":"mutez"}]}]}]}]},{"prim":"storage","args":[{"prim":"pair","args":[{"prim":"set","args":[{"prim":"address"}]},{"prim":"pair","args":[{"prim":"map","args":[{"prim":"address"},{"prim":"pair","args":[{"prim":"key_hash"},{"prim":"mutez"}]}]},{"prim":"pair","args":[{"prim":"nat"},{"prim":"nat"}]}]}]}]},{"prim":"code","args":[[{"prim":"DUP"},{"prim":"DIP","args":[[{"prim":"CDR"}]]},{"prim":"CAR"},{"prim":"DUP","annots":["@parameter"]},{"prim":"IF_LEFT","args":[[{"prim":"DROP"},[{"prim":"DIP","args":[[{"prim":"DUP"}]]},{"prim":"SWAP"}],{"prim":"NIL","args":[{"prim":"operation"}]},{"prim":"PAIR"}],[{"prim":"SOURCE","annots":["@owner"]},[{"prim":"DIP","args":[[[{"prim":"DIP","args":[[[{"prim":"DIP","args":[[{"prim":"DUP"}]]},{"prim":"SWAP"}]]]},{"prim":"SWAP"}]]]},{"prim":"SWAP"}],{"prim":"CAR"},[{"prim":"DIP","args":[[{"prim":"DUP","annots":["@owner"]}]]},{"prim":"SWAP"}],{"prim":"MEM"},{"prim":"NOT"},{"prim":"IF","args":[[{"prim":"UNIT"},{"prim":"FAILWITH"}],[{"prim":"UNIT"}]]},{"prim":"DROP"},{"prim":"PUSH","args":[{"prim":"mutez"},{"int":"0"}]},{"prim":"AMOUNT"},{"prim":"COMPARE"},{"prim":"NEQ"},{"prim":"IF","args":[[{"prim":"PUSH","args":[{"prim":"string"},{"string":"Don''t
        send money while managing multisig"}]},{"prim":"FAILWITH"}],[{"prim":"UNIT"}]]},{"prim":"DROP"},[{"prim":"DIP","args":[[[{"prim":"DIP","args":[[[{"prim":"DIP","args":[[{"prim":"DUP","annots":["@storage"]}]]},{"prim":"SWAP"}]]]},{"prim":"SWAP"}]]]},{"prim":"SWAP"}],{"prim":"DUP"},{"prim":"CAR"},{"prim":"SWAP"},{"prim":"CDR"},{"prim":"CDR"},[{"prim":"D[...]
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BKudcDt95AT2MX2W4BgwKEDT9ZSkHC35m9Me59ytsbTm5ZFHXR5","contents":[{"kind":"origination","delegatable":false,"spendable":false,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"57358","storage_limit":"1719","counter":"299","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","script":[...]
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//protocols
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '["PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","Ps6mwMrF2ER2s51cp9yYpjDcuzQjsc2yAz8bQsRgdaRxw4Fk95H"]

'
  recorded_at: Mon, 01 Oct 2018 10:05:03 GMT
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","branch":"BKudcDt95AT2MX2W4BgwKEDT9ZSkHC35m9Me59ytsbTm5ZFHXR5","contents":[{"kind":"origination","delegatable":false,"spendable":false,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"57358","storage_limit":"1719","counter":"299","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","script":{"code":[{"prim":"parameter","args":[{"prim":"or","args":[{"prim":"unit"},{"prim":"option","args":[{"prim":"pair[...]
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"19c53e97dd6572c2fddefe49a94673ce36ea63774c43c91523e7bdd67fd57b14090000982fd7853b46e70022bc56f12b427855a2adb67ed08603ab028ec003b70d00982fd7853b46e70022bc56f12b427855a2adb67e00000000ff00000680020000067b05000764036c05630765035d036a050107650566036e07650760036e0765035d036a0765036203620502020000064c0321051f02000000020317031604210000000a40706172616d65746572[...]
