---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BKnwdk8oyWH2574mg4DUC7KuKwsbZ7GfkE4WAGPzhB5AiXUmTpY"

'
  recorded_at: Fri, 12 Oct 2018 14:00:46 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"351"

'
  recorded_at: Fri, 12 Oct 2018 14:00:46 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BKnwdk8oyWH2574mg4DUC7KuKwsbZ7GfkE4WAGPzhB5AiXUmTpY","contents":[{"kind":"origination","delegatable":false,"spendable":false,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"352","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","script":{"code":[{"prim":"parameter","args":[{"prim":"or","args":[{"prim":"unit","annots":["%_Liq_entry_pay"]},{"prim":"option","args":[{"prim":"pair","args":[{"prim":"key_hash","annots":["%destination"]},{"prim":"mutez","annots":["%amount"]}],"annots":[":proposition"]}],"annots":["%_Liq_entry_manage"]}],"annots":[":_entries"]}]},{"prim":"storage","args":[{"prim":"pair","args":[{"prim":"set","args":[{"prim":"address"}],"annots":["%owners"]},{"prim":"pair","args":[{"prim":"map","args":[{"prim":"address"},{"prim":"pair","args":[{"prim":"key_hash","annots":["%destination"]},{"prim":"mut[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BKnwdk8oyWH2574mg4DUC7KuKwsbZ7GfkE4WAGPzhB5AiXUmTpY","contents":[{"kind":"origination","delegatable":false,"spendable":false,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"352","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","scr[...]
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","next_protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":{"level":140366,"level_position":140365,"cycle":68,"cycle_position":1101,"voting_period":4,"voting_period_position":9293,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":68,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":68,"change":"16000000"}]}

'
  recorded_at: Fri, 12 Oct 2018 14:00:47 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","branch":"BKnwdk8oyWH2574mg4DUC7KuKwsbZ7GfkE4WAGPzhB5AiXUmTpY","contents":[{"kind":"origination","delegatable":false,"spendable":false,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"66839","storage_limit":"2284","counter":"352","fee":"500[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"0a94f301387c622ae26bdf1a31caa3d541754648c94a1c5a4b9b487f38ad836b090000982fd7853b46e70022bc56f12b427855a2adb67ed08603e002978a04ec1100982fd7853b46e70022bc56f12b427855a2adb67e00000000ff000008b502000008b005000864046c0000000f255f4c69715f656e7472795f70617906630865045d0000000c2564657374696e6174696f6e046a0000000725616d6f756e740000000c3a70726f706f736974696f6e0[...]
