---
http_interactions:
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BLHrbMeJdbd5f52gPYdJiJYxGKmzxstaerGUPx53t9qD2GykmBj"

'
  recorded_at: Mon, 01 Oct 2018 09:57:39 GMT
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"295"

'
  recorded_at: Mon, 01 Oct 2018 09:57:39 GMT
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BLHrbMeJdbd5f52gPYdJiJYxGKmzxstaerGUPx53t9qD2GykmBj","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"50000","storage_limit":"6000","counter":"296","fee":"50000"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"4c3b86cc6ed104d71786ecea5457eeb106fe51e34c8df949cb8fbab429859de7080000982fd7853b46e70022bc56f12b427855a2adb67ed08603a802d08603f02ec0843d0000982fd7853b46e70022bc56f12b427855a2adb67e00"

'
  recorded_at: Mon, 01 Oct 2018 09:57:39 GMT
recorded_with: VCR 4.0.0
