---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BMRi3GyT6A5Y6wLYhi8sQpKjM1rUyfFKmzXkxvqfvJMzFNwVQaG"

'
  recorded_at: Fri, 12 Oct 2018 14:17:46 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"360"

'
  recorded_at: Fri, 12 Oct 2018 14:17:46 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BMRi3GyT6A5Y6wLYhi8sQpKjM1rUyfFKmzXkxvqfvJMzFNwVQaG","contents":[{"kind":"transaction","amount":"1000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"50000","storage_limit":"6000","counter":"361","fee":"50000"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"e1c23de107313cd39943c5107b001270d69b934429ee1537ed9ba0da0c062a63080000982fd7853b46e70022bc56f12b427855a2adb67ed08603e902d08603f02ec0843d0000982fd7853b46e70022bc56f12b427855a2adb67e00"

'
  recorded_at: Fri, 12 Oct 2018 14:17:46 GMT
recorded_with: VCR 4.0.0
