---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"15471"

'
  recorded_at: Wed, 11 Sep 2019 09:53:03 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BKzG1Xn5fU2KmZD6Mnscaht4jrNi41sVnzcrxaVMyfyAgkxDaon"

'
  recorded_at: Wed, 11 Sep 2019 09:53:03 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BKzG1Xn5fU2KmZD6Mnscaht4jrNi41sVnzcrxaVMyfyAgkxDaon","contents":[{"kind":"transaction","amount":"10000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"15472","fee":"50000","rpc_interface":"#<TezosClient::RpcInterface:0x00007f9e19e85ad0>"},{"kind":"transaction","amount":"100000000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"tz1Zbws4QQPy4zKQjQApSHir9kTnKHt5grDn","gas_limit":"100000","storage_limit":"6000","counter":"15473","fee":"50000","rpc_interface":"#<TezosClient::RpcInterface:0x00007f9e19e85ad0>"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: |-
        Failed to parse the request body: No case matched:
          At /kind, unexpected string instead of endorsement
          At /kind, unexpected string instead of seed_nonce_revelation
          At /kind, unexpected string instead of double_endorsement_evidence
          At /kind, unexpected string instead of double_baking_evidence
          At /kind, unexpected string instead of activate_account
          At /kind, unexpected string instead of proposals
          At /kind, unexpected string instead of ballot
          At /kind, unexpected string instead of reveal
          Unexpected object field rpc_interface
          At /kind, unexpected string instead of origination
          At /kind, unexpected string instead of delegation
  recorded_at: Wed, 11 Sep 2019 09:53:03 GMT
recorded_with: VCR 4.0.0
