---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"BLJsYFqAiPJ3gaHL7zKS4J2YmG9juLZAR9cyKbq8APWrdmYVDo8","header":{"level":86558,"proto":1,"predecessor":"BLccdc5af534g38dGGAV15Uho7nKoWmufnQndnUKi2ECKUYg38F","timestamp":"2019-01-07T16:32:48Z","validation_pass":4,"operations_hash":"LLoaUsWJzYySzuHGQ37HCjxZ7KUjyLiht2jy4ANzSLgW61n1Tu4wd","fitness":["00","000000000026df90"],"context":"CoUuFyRbL9YZuN66949wM64ty23EUNte2vDwgUvHxH5ALWuZJZ64","priority":1,"proof_of_work_nonce":"0000000319515517","signature":"sigPEWtrHdzXGLBmd5bJProsrstvuP1a8FUYdVzScAmuuuLBrETB9W5aNNy3MtX5RRrmLeZDvssiMBVYEY68AMyJLoVMf6aZ"},"metadata":{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":{"level":86558,"level_position":86557,"cycle":42,"cycle_position":541,"voting_period":10,"voting_period_position":4637,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":42,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":42,"change":"16000000"}]},"operations":[[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"opPCkDpMd3d51W3ykxvneaHTmG6hzvrJ8BvECHUJyPQ9XxGFFw4","branch":"BLccdc5af534g38dGGAV15Uho7nKoWmufnQndnUKi2ECKUYg38F","contents":[{"kind":"endorsement","level":86557,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","change":"-128000000"},{"kind":"freezer","category":"deposits","delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","level":42,"change":"128000000"},{"kind":"freezer","category":"rewards","delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","level":42,"change":"2000000"}],"delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","slots":[7,4]}}],"signature":"sigUZhzurDdqzmfkLdXHRC4nEWxgAQqHFLZ9fwPXq8nWhSpvju1UgHyviGPee6S3yRusxUsyP9TSeRtAKvpqs2fgHFvuawUz"},{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"ooM89H8oWS7xBBax78sVFSYm5dmQJsAy9eMMwqKe12t2h3by6SY","branch":"BLccdc5af534g38dGGAV15Uho7nKoWmufnQndnUKi2ECKUYg38F","contents":[{"kind":"endorsement","level":86557,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1LdZ6S8ScNMgaCLqrekDvbBWhLqtUebk23","change":"-6[...]
