---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BMced2yJeVexDQn7hdtCEvqYHoJ7CaArnpCNsbn2yaHKtjBXue8"

'
  recorded_at: Tue, 30 Apr 2019 08:51:20 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BMced2yJeVexDQn7hdtCEvqYHoJ7CaArnpCNsbn2yaHKtjBXue8","contents":[{"kind":"activate_account","pkh":"tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21","secret":"23d18abce360452faa65b9909b6bf259562af0f8"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"fa9a0f2b92a30afd7567bf318222294fe378a3025bd44a568b78332c613f52ec0441c850626824645de0400aa1cfc52d4bc040c32823d18abce360452faa65b9909b6bf259562af0f8"

'
  recorded_at: Tue, 30 Apr 2019 08:51:20 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BMced2yJeVexDQn7hdtCEvqYHoJ7CaArnpCNsbn2yaHKtjBXue8","contents":[{"kind":"activate_account","pkh":"tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21","secret":"23d18abce360452faa65b9909b6bf259562af0f8"}],"signature":"edsigtsZqmciGN9NeSbEGSZKHvcMnmvziJa67VtWjTNTprPTk2XYnPooGoNV5fsvXs9wQo6qPeKBZqtv6yjocEzen4CszavUvuZ"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"kind":"permanent","id":"proto.003-PsddFKi3.operation.invalid_activation","pkh":"tz1RdraebVC4gRbrnMDWQjZ28FtvgQZWJp21"}]

'
  recorded_at: Tue, 30 Apr 2019 08:51:20 GMT
recorded_with: VCR 4.0.0
