---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BMMUrxfG85dyFBrL3VL5EBSUjJFPxUHyiUqRjnmHtAAKVJNSjPJ"

'
  recorded_at: Fri, 12 Oct 2018 14:12:21 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"355"

'
  recorded_at: Fri, 12 Oct 2018 14:12:21 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BMMUrxfG85dyFBrL3VL5EBSUjJFPxUHyiUqRjnmHtAAKVJNSjPJ","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","gas_limit":"40000","storage_limit":"6000","counter":"356","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"d8290e21adf60461e072f20c9eb11a6184adffc982299763aabd9f535e4c75b7080000982fd7853b46e70022bc56f12b427855a2adb67ed08603e402c0b802f02e0001c42a6cf9f6f1fa3aa1a6cf090dda400223dece7100ff000000330508050907070100000024747a31594c744c714431665748746853564850443131366f597673643450544148556f630080897a"

'
  recorded_at: Fri, 12 Oct 2018 14:12:21 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BMMUrxfG85dyFBrL3VL5EBSUjJFPxUHyiUqRjnmHtAAKVJNSjPJ","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","gas_limit":"40000","storage_limit":"6000","counter":"356","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]}}],"signature":"edsigu5fQ6QryhKfjbAxCuegMicWakyPTix6aAzDYpoQAyJdZxhFKtJXM5PFYFw3L7qWpJA3bC5Lp69r3MJ5E5B1iDNaRXi4vdD"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"356","gas_limit":"40000","storage_limit":"6000","amount":"0","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]},"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":68,"change":"50000"}],"operation_result":{"status":"applied","storage":{"prim":"Pair","args":[[{"bytes":"0000982fd7853b46e70022bc56f12b427855a2adb67e"}],{"prim":"Pair","args":[[],{"prim":"Pair","args":[{"int":"1"},{"int":"1"}]}]}]},"consumed_gas":"39498","storage_size":"1719"},"internal_operation_results":[{"kind":"transaction","source":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","nonce":0,"amount":"1000000","destination":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc","parameters":{"prim":"Unit"},"result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","change":"-1000000"},{"kind":"contract","contract":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc","change":"1000000"}],"consumed_gas":"107"}}]}}],"signature":"edsigu5fQ6QryhKfjbAxCuegMicWakyPTix6aAzDYpoQAyJdZxhFKtJXM5PFYFw3L7qWpJA3bC5Lp69r3MJ5E5B1iDNaRXi4vdD"}

'
  recorded_at: Fri, 12 Oct 2018 14:12:21 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","next_protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":{"level":140375,"level_position":140374,"cycle":68,"cycle_position":1110,"voting_period":4,"voting_period_position":9302,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":68,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":68,"change":"16000000"}]}

'
  recorded_at: Fri, 12 Oct 2018 14:12:21 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","branch":"BMMUrxfG85dyFBrL3VL5EBSUjJFPxUHyiUqRjnmHtAAKVJNSjPJ","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","gas_limit":"49498","storage_limit":"0","counter":"356"[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"d8290e21adf60461e072f20c9eb11a6184adffc982299763aabd9f535e4c75b7080000982fd7853b46e70022bc56f12b427855a2adb67ed08603e402da8203000001c42a6cf9f6f1fa3aa1a6cf090dda400223dece7100ff000000330508050907070100000024747a31594c744c714431665748746853564850443131366f597673643450544148556f630080897abdb030355491ba5d4aae7a0a772df8fe4a2878c3f8da1eface3b6a63b20e3205343fa32c5bc5cc062aba8233b2e71de90f89c7129412e528bb1ccf4a454fd604"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"oogFmRZHeMMZgMjccsCv9daFHLEyuJf1h772gJmHRDSuTwCqCos"

'
  recorded_at: Fri, 12 Oct 2018 14:12:21 GMT
recorded_with: VCR 4.0.0
