---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"14901"

'
  recorded_at: Fri, 26 Apr 2019 09:44:15 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BMBDuRWhPZyNHWHKsc6veEbS9dMzgjPLUVc8J5u3ShrNzFPwEoK"

'
  recorded_at: Fri, 26 Apr 2019 09:44:15 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BMBDuRWhPZyNHWHKsc6veEbS9dMzgjPLUVc8J5u3ShrNzFPwEoK","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"100000","storage_limit":"6000","counter":"14902","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"c0de5b547ad5e18b193992954425aeae0aa29e831e7c4c7217446227e72c77bd080000982fd7853b46e70022bc56f12b427855a2adb67ed08603b674a08d06f02e00018de89d0bb73173e415e3b737309f55867785183400ff000000330508050907070100000024747a31594c744c714431665748746853564850443131366f597673643450544148556f630080897a"

'
  recorded_at: Fri, 26 Apr 2019 09:44:15 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BMBDuRWhPZyNHWHKsc6veEbS9dMzgjPLUVc8J5u3ShrNzFPwEoK","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"100000","storage_limit":"6000","counter":"14902","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]}}],"signature":"edsigtxnhXXbowh3hrr7e5ps7fhLFyFX7oYm6y4HMX9A94r21wcpZGSHE2SJHrkAbodrD5fyV9WJLELF2Tr175DXwcq28HsjHn8"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"14902","gas_limit":"100000","storage_limit":"6000","amount":"0","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]},"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":162,"change":"50000"}],"operation_result":{"status":"applied","storage":{"prim":"Pair","args":[[{"bytes":"0000982fd7853b46e70022bc56f12b427855a2adb67e"}],{"prim":"Pair","args":[[],{"prim":"Pair","args":[{"int":"1"},{"int":"1"}]}]}]},"consumed_gas":"56405","storage_size":"2326"},"internal_operation_results":[{"kind":"transaction","source":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","nonce":0,"amount":"1000000","destination":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc","parameters":{"prim":"Unit"},"result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","change":"-1000000"},{"kind":"contract","contract":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc","change":"1000000"}],"consumed_gas":"10107"}}]}}],"signature":"edsigtxnhXXbowh3hrr7e5ps7fhLFyFX7oYm6y4HMX9A94r21wcpZGSHE2SJHrkAbodrD5fyV9WJLELF2Tr175DXwcq28HsjHn8"}

'
  recorded_at: Fri, 26 Apr 2019 09:44:15 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz1hodJSw6uv7LqArLW86zKuUjkXiayJvqCf","level":{"level":332524,"level_position":332523,"cycle":162,"cycle_position":747,"voting_period":40,"voting_period_position":4843,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz1hodJSw6uv7LqArLW86zKuUjkXiayJvqCf","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz1hodJSw6uv7LqArLW86zKuUjkXiayJvqCf","level":162,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz1hodJSw6uv7LqArLW86zKuUjkXiayJvqCf","level":162,"change":"16000000"}]}

'
  recorded_at: Fri, 26 Apr 2019 09:44:15 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","branch":"BMBDuRWhPZyNHWHKsc6veEbS9dMzgjPLUVc8J5u3ShrNzFPwEoK","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"76512","storage_limit":"6000","counter":"1[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"c0de5b547ad5e18b193992954425aeae0aa29e831e7c4c7217446227e72c77bd080000982fd7853b46e70022bc56f12b427855a2adb67ed08603b674e0d504f02e00018de89d0bb73173e415e3b737309f55867785183400ff000000330508050907070100000024747a31594c744c714431665748746853564850443131366f597673643450544148556f630080897a77d81ec57d9d987b88cc319cb497a57cda3aed33bd26458db872f047ef6770716a4828191af56223f96d5d3098edc33c2448d76f61f06999be808c35a5ad6f04"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"ongA29u4RTuiotC9GvB8SVqBdLxP6FNszKWrToMrtvcA4y3N3xP"

'
  recorded_at: Fri, 26 Apr 2019 09:44:16 GMT
recorded_with: VCR 4.0.0
