---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BLWgxqZBP9J3ogzX7kESi84SB2qiZAqZ4ynbiVaLApsoQz3XDUf"

'
  recorded_at: Tue, 08 Jan 2019 16:45:23 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"13835"

'
  recorded_at: Tue, 08 Jan 2019 16:45:23 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BLWgxqZBP9J3ogzX7kESi84SB2qiZAqZ4ynbiVaLApsoQz3XDUf","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"100000","storage_limit":"6000","counter":"13836","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"695fa620eadd6f900c7fe373a10ad54d67ea5674fed6159ed8997ba1f6be184f080000982fd7853b46e70022bc56f12b427855a2adb67ed086038c6ca08d06f02e00018de89d0bb73173e415e3b737309f55867785183400ff000000330508050907070100000024747a31594c744c714431665748746853564850443131366f597673643450544148556f630080897a"

'
  recorded_at: Tue, 08 Jan 2019 16:45:23 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BLWgxqZBP9J3ogzX7kESi84SB2qiZAqZ4ynbiVaLApsoQz3XDUf","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"100000","storage_limit":"6000","counter":"13836","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]}}],"signature":"edsigteS1yH9UEsCZejiZQJrHnJTfJpaJw13ZmwPjcAX41kLivU6JjLbZVJnqE5Q7Nxs2ewC1tKhzPrmKSA29sBCUqVYHVt8uaP"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"13836","gas_limit":"100000","storage_limit":"6000","amount":"0","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]},"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":43,"change":"50000"}],"operation_result":{"status":"applied","storage":{"prim":"Pair","args":[[{"bytes":"0000982fd7853b46e70022bc56f12b427855a2adb67e"}],{"prim":"Pair","args":[[],{"prim":"Pair","args":[{"int":"1"},{"int":"1"}]}]}]},"consumed_gas":"56405","storage_size":"2326"},"internal_operation_results":[{"kind":"transaction","source":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","nonce":0,"amount":"1000000","destination":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc","parameters":{"prim":"Unit"},"result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","change":"-1000000"},{"kind":"contract","contract":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc","change":"1000000"}],"consumed_gas":"10107"}}]}}],"signature":"edsigteS1yH9UEsCZejiZQJrHnJTfJpaJw13ZmwPjcAX41kLivU6JjLbZVJnqE5Q7Nxs2ewC1tKhzPrmKSA29sBCUqVYHVt8uaP"}

'
  recorded_at: Tue, 08 Jan 2019 16:45:23 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":{"level":88869,"level_position":88868,"cycle":43,"cycle_position":804,"voting_period":10,"voting_period_position":6948,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":43,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":43,"change":"16000000"}]}

'
  recorded_at: Tue, 08 Jan 2019 16:45:24 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","branch":"BLWgxqZBP9J3ogzX7kESi84SB2qiZAqZ4ynbiVaLApsoQz3XDUf","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"76512","storage_limit":"0","counter":"1383[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"695fa620eadd6f900c7fe373a10ad54d67ea5674fed6159ed8997ba1f6be184f080000982fd7853b46e70022bc56f12b427855a2adb67ed086038c6ce0d5040000018de89d0bb73173e415e3b737309f55867785183400ff000000330508050907070100000024747a31594c744c714431665748746853564850443131366f597673643450544148556f630080897a2a7a6a5dd1168aa49dda6fe637fcc772cdcaf434a2b58c83831300f9ec0bfce046606866c8bb57467ac3beda25abc43a913ed031166e70c40428b2fcc163e505"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"ooWZTLHwoWYzUY2kRR57UWAStvzwwj7zoxCP3y6QNbnEA9H6q1k"

'
  recorded_at: Tue, 08 Jan 2019 16:45:24 GMT
recorded_with: VCR 4.0.0
