---
http_interactions:
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BMRoj6bNZQV2ouxpjZULsRtpSbAeTdM4vV2DyrEp4a6nCCW9YQ8"

'
  recorded_at: Mon, 01 Oct 2018 09:55:19 GMT
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"294"

'
  recorded_at: Mon, 01 Oct 2018 09:55:19 GMT
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BMRoj6bNZQV2ouxpjZULsRtpSbAeTdM4vV2DyrEp4a6nCCW9YQ8","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","gas_limit":"40000","storage_limit":"6000","counter":"295","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]}}],"signature":"edsigu165B7VFf3Dpw2QABVzEtCxJY2gsNBNcE3Ti7rRxtDUjqTFRpg67EdAQmY6YWPE5tKJDMnSTJDFu65gic8uLjbW2YwGvAZ"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"295","gas_limit":"40000","storage_limit":"6000","amount":"0","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]},"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":62,"change":"50000"}],"operation_result":{"status":"applied","storage":{"prim":"Pair","args":[[{"bytes":"0000982fd7853b46e70022bc56f12b427855a2adb67e"}],{"prim":"Pair","args":[[],{"prim":"Pair","args":[{"int":"1"},{"int":"1"}]}]}]},"consumed_gas":"39498","storage_size":"1719"},"internal_operation_results":[{"kind":"transaction","source":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","nonce":0,"amount":"1000000","destination":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc","parameters":{"prim":"Unit"},"result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","change":"-1000000"},{"kind":"contract","contract":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc","change":"1000000"}],"consumed_gas":"107"}}]}}],"signature":"edsigu165B7VFf3Dpw2QABVzEtCxJY2gsNBNcE3Ti7rRxtDUjqTFRpg67EdAQmY6YWPE5tKJDMnSTJDFu65gic8uLjbW2YwGvAZ"}

'
  recorded_at: Mon, 01 Oct 2018 09:55:19 GMT
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BMRoj6bNZQV2ouxpjZULsRtpSbAeTdM4vV2DyrEp4a6nCCW9YQ8","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","gas_limit":"49498","storage_limit":"0","counter":"295","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"e1fb3b9b4ac0a02456ac084867f5cce51b0940ad4fbfbecc1cb388032e91c95a080000982fd7853b46e70022bc56f12b427855a2adb67ed08603a702da8203000001c42a6cf9f6f1fa3aa1a6cf090dda400223dece7100ff000000330508050907070100000024747a31594c744c714431665748746853564850443131366f597673643450544148556f630080897a"

'
  recorded_at: Mon, 01 Oct 2018 09:55:19 GMT
- request:
    method: get
    uri: https://alphanet-node.tzscan.io//protocols
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '["PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","Ps6mwMrF2ER2s51cp9yYpjDcuzQjsc2yAz8bQsRgdaRxw4Fk95H"]

'
  recorded_at: Mon, 01 Oct 2018 09:55:19 GMT
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","branch":"BMRoj6bNZQV2ouxpjZULsRtpSbAeTdM4vV2DyrEp4a6nCCW9YQ8","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1STzq9p2tfW3K4RdoM9iYd1htJ4QcJ8Njs","gas_limit":"49498","storage_limit":"0","counter":"295","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"1000000"}]}]}]}}],"signa[...]
- request:
    method: post
    uri: https://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"e1fb3b9b4ac0a02456ac084867f5cce51b0940ad4fbfbecc1cb388032e91c95a080000982fd7853b46e70022bc56f12b427855a2adb67ed08603a702da8203000001c42a6cf9f6f1fa3aa1a6cf090dda400223dece7100ff000000330508050907070100000024747a31594c744c714431665748746853564850443131366f597673643450544148556f630080897ab5ef3584b63e7833803eb7ab91105c17313d8177329eb6cddbaba7ee85cd27a028b1ef4376accc37d361706b51eee681e37ee077bd921f0868687e20971f9c0e"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"oo8HfF9R5QtAYykgLkwSeYqQxFLZudY7GUndLsGPQs35ocniXyQ"

'
  recorded_at: Mon, 01 Oct 2018 09:55:19 GMT
recorded_with: VCR 4.0.0
