---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"15609"

'
  recorded_at: Thu, 19 Sep 2019 10:47:51 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BMJxy7NTaYhqu45tE4RgCHpZyqVq929ckmwmZEpnJEJUdjPSzKt"

'
  recorded_at: Thu, 19 Sep 2019 10:47:51 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BMJxy7NTaYhqu45tE4RgCHpZyqVq929ckmwmZEpnJEJUdjPSzKt","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"100000","storage_limit":"6000","counter":"15610","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"10000000000000000"}]}]}]}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"d272e5c6d8cd3b15914db64b14c7d2969988a0abbd8c4d88c221bb9262786632080000982fd7853b46e70022bc56f12b427855a2adb67ed08603fa79a08d06f02e00018de89d0bb73173e415e3b737309f55867785183400ff000000380508050907070100000024747a31594c744c714431665748746853564850443131366f597673643450544148556f6300808088fccdbcc323"

'
  recorded_at: Thu, 19 Sep 2019 10:47:51 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BMJxy7NTaYhqu45tE4RgCHpZyqVq929ckmwmZEpnJEJUdjPSzKt","contents":[{"kind":"transaction","amount":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","gas_limit":"100000","storage_limit":"6000","counter":"15610","fee":"50000","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"10000000000000000"}]}]}]}}],"signature":"edsigu3CNwQcKrjCpZZn5cJwhzbEc1AJPQGuTAyvnRVUVckcLtmdL5uPv6Uhce1YXYD9gwYhUJAzfMqHgJuSvm793PYdBs7bVYE"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"15610","gas_limit":"100000","storage_limit":"6000","amount":"0","destination":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","parameters":{"prim":"Right","args":[{"prim":"Some","args":[{"prim":"Pair","args":[{"string":"tz1YLtLqD1fWHthSVHPD116oYvsd4PTAHUoc"},{"int":"10000000000000000"}]}]}]},"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","cycle":327,"change":"50000"}],"operation_result":{"status":"failed","errors":[{"kind":"temporary","id":"proto.004-Pt24m4xi.michelson_v1.runtime_error","contract_handle":"KT1MX7W5bWVi9T3wivxKd96s2uFUyFx1nLx7","contract_code":[{"prim":"parameter","args":[{"prim":"or","args":[{"prim":"unit","annots":["%_Liq_entry_pay"]},{"prim":"option","args":[{"prim":"pair","args":[{"prim":"key_hash","annots":["%destination"]},{"prim":"mutez","annots":["%amount"]}],"annots":[":proposition"]}],"annots":["%_Liq_entry_manage"]}],"annots":[":_entries"]}]},{"prim":"storage","args":[{"prim":"pair","args":[{"prim":"set","args":[{"prim":"address"}],"annots":["%owners"]},{"prim":"pair","args":[{"prim":"map","args":[{"prim":"address"},{"prim":"pair","args":[{"prim":"key_hash","annots":["%destination"]},{"prim":"mut[...]
