---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","chain_id":"NetXZUqeBjDnWde","hash":"BLBUQBR9U5Hhs3ghzBZuxr21Dy5Fh2zf2PrZmrwUzDDFuuGekuW","header":{"level":114383,"proto":1,"predecessor":"BL4jVvQC84xFuLceGK4dW7YiptyYiYLYqA4uzJfsoeBaR7pCUvM","timestamp":"2018-09-21T14:34:12Z","validation_pass":4,"operations_hash":"LLoaS27SBWCo77iM5MruvGGFMew6vWESQ6B8t7MZHrdLYxsdoHMNa","fitness":["00","000000000032a715"],"context":"CoWUEFc1n6vud5h8AwnraY3ELr9A8o7vULv9hvpgTY6x8twWZbob","priority":2,"proof_of_work_nonce":"dbc54e0dc8e04f1d","signature":"sigtnUu5ANDVnP9ZxCLjoUxr4ZJdDvDWKBdEatpkpMhNwU47SGKSsPFJEW78jJK6jejdWyY9kQ3An6GV6T5JQHLZb3rb3tvu"},"metadata":{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","next_protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":{"level":114383,"level_position":114382,"cycle":55,"cycle_position":1742,"voting_period":3,"voting_period_position":16078,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":55,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":55,"change":"16000000"}]},"operations":[[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","chain_id":"NetXZUqeBjDnWde","hash":"opVT1VutB3h8fciBUMZQUcw6zMChs2HKTUe4gjq5R42czGPEdrs","branch":"BL4jVvQC84xFuLceGK4dW7YiptyYiYLYqA4uzJfsoeBaR7pCUvM","contents":[{"kind":"endorsement","level":114382,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","change":"-256000000"},{"kind":"freezer","category":"deposits","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":55,"change":"256000000"},{"kind":"freezer","category":"rewards","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":55,"change":"8000000"}],"delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","slots":[26,20,14,5]}}],"signature":"siggGegx5h1thNSLFpdSiWB3tD9J8dfuSC5REjryZygQCi4PBKCM33yHwmK6EkUTvHUcLvZSGmRKsHLqA2Zxef49MQXZ1hNU"},{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","chain_id":"NetXZUqeBjDnWde","hash":"onebTW6Gw7dMDgFm3dpHeDvXEP9yKkqtvR2KCybfqTodTndahwQ","branch":"BL4jVvQC84xFuLceGK4dW7YiptyYiYLYqA4uzJfsoeBaR7pCUvM","contents":[{"kind":"endorsement","level":114382,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","cha[...]
