---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"BLc4CB221AK1ehwnwTrcbKqK7cZwM6RapEFrpeV9aZPrvwT97FW","header":{"level":88936,"proto":1,"predecessor":"BLKGtwR4WeeVXXWjJ94P4K7MJJA5iQYWzDkHk9vajiLwRxW53mi","timestamp":"2019-01-08T17:25:48Z","validation_pass":4,"operations_hash":"LLobDJC9yBLY1Tf6Wp9C9RXRi1wTAqB1592iQyPV7MtaSGaFiQhu4","fitness":["00","000000000027ef25"],"context":"CoVXvLa5m8W2VdrAjXGyAfN6uxhZAFNDc5JizrN9ZRA9saXrWaf1","priority":0,"proof_of_work_nonce":"0000000352b7e493","signature":"sign1ybWKCeZZ1siUrUPNU8eHhMeNxNkkJpZaLzfgyYuTnXXcHe1wVevkKAGmCa9b7WUVNrTSaohJfayeBwHXhYXQ2M4pmFz"},"metadata":{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz1SsvTqeMmR9FW1D81dw9AaZPPwxSKFGuja","level":{"level":88936,"level_position":88935,"cycle":43,"cycle_position":871,"voting_period":10,"voting_period_position":7015,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz1SsvTqeMmR9FW1D81dw9AaZPPwxSKFGuja","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz1SsvTqeMmR9FW1D81dw9AaZPPwxSKFGuja","level":43,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz1SsvTqeMmR9FW1D81dw9AaZPPwxSKFGuja","level":43,"change":"16000000"}]},"operations":[[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"oongXxH5EMoFo95h9tk69d4Jkt7QzycTQ3i1s8eZ56UzA9Tabc4","branch":"BLKGtwR4WeeVXXWjJ94P4K7MJJA5iQYWzDkHk9vajiLwRxW53mi","contents":[{"kind":"endorsement","level":88935,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","change":"-192000000"},{"kind":"freezer","category":"deposits","delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","level":43,"change":"192000000"},{"kind":"freezer","category":"rewards","delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","level":43,"change":"6000000"}],"delegate":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","slots":[31,14,12]}}],"signature":"sigfp1NreJKtX6a6F9Whfg14L7PbqUNycb64hW5Fb8SELaKJs5NyCqgG5CqcMNZQFuZ1rvvrX3nmjqbN4T7xCkwTzxGPEukA"},{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"ooV3bzWeYB2jndDV84nmZgDYAfzzLZGZbJ3GpyR892xxrZVXFpL","branch":"BLKGtwR4WeeVXXWjJ94P4K7MJJA5iQYWzDkHk9vajiLwRxW53mi","contents":[{"kind":"endorsement","level":88935,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1Vi4XPxnKqjN2aS13TY6aAjZvnqmvx8TgH","change[...]
