---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"BLfUYV7LjAa82k5v2pgy5VCLNQnSkFH7WWQ2kZC3FB6scvp5wPU","header":{"level":86559,"proto":1,"predecessor":"BLJsYFqAiPJ3gaHL7zKS4J2YmG9juLZAR9cyKbq8APWrdmYVDo8","timestamp":"2019-01-07T16:33:18Z","validation_pass":4,"operations_hash":"LLoZefyALbEEtsvWhikVVZTY7PqVNQs1PuK4sEK1VnPDb8h4wAP7d","fitness":["00","000000000026dfae"],"context":"CoVB9NqV9oW4NRZtVhasinoUfvVWsaJZ625qxYk46yMv13SoEtii","priority":0,"proof_of_work_nonce":"00000003af7d31bc","signature":"sigc3hcc8rZTGrcdowsZ4vp28ji4zB9tBgz5UiKX9u8w6MCccqCirhchM4sfUoYFBWMLWcRg2gYYREmYXtf1vNCqDRpiKGFN"},"metadata":{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz1aWXP237BLwNHJcCD4b3DutCevhqq2T1Z9","level":{"level":86559,"level_position":86558,"cycle":42,"cycle_position":542,"voting_period":10,"voting_period_position":4638,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz1aWXP237BLwNHJcCD4b3DutCevhqq2T1Z9","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz1aWXP237BLwNHJcCD4b3DutCevhqq2T1Z9","level":42,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz1aWXP237BLwNHJcCD4b3DutCevhqq2T1Z9","level":42,"change":"16000000"}]},"operations":[[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"op1t7Vg1Vcak8WpCQyQLF9W7e472Pjm2opnLazv9E9a5amvJomk","branch":"BLJsYFqAiPJ3gaHL7zKS4J2YmG9juLZAR9cyKbq8APWrdmYVDo8","contents":[{"kind":"endorsement","level":86558,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1db53osfzRqqgQeLtBt4kcFcQoXJwPJJ5G","change":"-64000000"},{"kind":"freezer","category":"deposits","delegate":"tz1db53osfzRqqgQeLtBt4kcFcQoXJwPJJ5G","level":42,"change":"64000000"},{"kind":"freezer","category":"rewards","delegate":"tz1db53osfzRqqgQeLtBt4kcFcQoXJwPJJ5G","level":42,"change":"1000000"}],"delegate":"tz1db53osfzRqqgQeLtBt4kcFcQoXJwPJJ5G","slots":[19]}}],"signature":"sigamunW3PXoLYDJr4ZD5f7iGorx7XbGUjzbdDVXjbn41S6nRrdFjqGH8vVqNEnamTq4x69qVDPKFTQNpmawf9HoeYWFJP4s"},{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"ooEMTWCkccxzVCSp5n9e24ogqKVHoKGbVTyLbFcfspyHSYKwyyo","branch":"BLJsYFqAiPJ3gaHL7zKS4J2YmG9juLZAR9cyKbq8APWrdmYVDo8","contents":[{"kind":"endorsement","level":86558,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz3NdTPb3Ax2rVW2Kq9QEdzfYFkRwhrQRPhX","change":"-12[...]
