---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","chain_id":"NetXZUqeBjDnWde","hash":"BMRi3GyT6A5Y6wLYhi8sQpKjM1rUyfFKmzXkxvqfvJMzFNwVQaG","header":{"level":140380,"proto":1,"predecessor":"BL4ReDkDzony6ux1ujx9egVhxvBnBY4v3m9MUmME34B4BWCmEGb","timestamp":"2018-10-12T14:17:22Z","validation_pass":4,"operations_hash":"LLoZaxcbCaqGJXgW8gD9WUNDnV2f5nRNSqezZXQTHaSE2AVBm1D1z","fitness":["00","00000000003aa31a"],"context":"CoV4UGK8vwaUUm3MfN1ydSJoRLYr23EkhZMmYuTimGRZyEuNPJSD","priority":1,"proof_of_work_nonce":"8ee1257ec1f7bdfa","signature":"sigSAcEFhm36nve3cs15zSMDVWU7tBt95aSvesMCLqB2HTdeLLwntNfaodQnVNU4YA9d7NPNCWRx3Z5FzgC4itMMpcdiqrWr"},"metadata":{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","next_protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":{"level":140380,"level_position":140379,"cycle":68,"cycle_position":1115,"voting_period":4,"voting_period_position":9307,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"100","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":68,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":68,"change":"16000000"}]},"operations":[[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","chain_id":"NetXZUqeBjDnWde","hash":"opZwHfVHUpMNLvnxjAqFwjis5r8EK2VWCTwRNw61n4sgw774rfZ","branch":"BL4ReDkDzony6ux1ujx9egVhxvBnBY4v3m9MUmME34B4BWCmEGb","contents":[{"kind":"endorsement","level":140379,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1SN46ZFMycvnPJFM37xxk24wK4wDT2KbZe","change":"-64000000"},{"kind":"freezer","category":"deposits","delegate":"tz1SN46ZFMycvnPJFM37xxk24wK4wDT2KbZe","level":68,"change":"64000000"},{"kind":"freezer","category":"rewards","delegate":"tz1SN46ZFMycvnPJFM37xxk24wK4wDT2KbZe","level":68,"change":"1000000"}],"delegate":"tz1SN46ZFMycvnPJFM37xxk24wK4wDT2KbZe","slots":[24]}}],"signature":"sigwASjVXjxis3bD1onUQij5NekFUgqwnKXkwYn2QP2QAkxqo2C1k1gs9F3PMXwssk5T3ftEV6ZZQWg1VSbfeNLYUCGUt7vA"},{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","chain_id":"NetXZUqeBjDnWde","hash":"oneSXtP5vqn3vUhE81zV4X68C24RL2XvcGSPFvsPAYnmfsXbNfB","branch":"BL4ReDkDzony6ux1ujx9egVhxvBnBY4v3m9MUmME34B4BWCmEGb","contents":[{"kind":"endorsement","level":140379,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","change":"-192000000"},{"kind":"freezer","category":"deposits","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":68,"change":"192000000"},{"kind":"freezer","category":"rewards","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":68,"change":"3000000"}],"delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","slots":[17,5,1]}}],"signature":"sigftvQGe1Tmariiup3m2NMesCx9WeE1FQoUrdCQcYFKWXhwHvCUJQbDaTryPQDSwcjZnvFwjCMvDsx73DFer2xPh3Y1PRqA"}],[],[],[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","chain_id":"NetXZUqeBjDnWde","hash":"ooaUYSnnwfhz4at5WY9h3wpjADcNyZqDpM9Rvr39ERERVQ96MW7","branch":"BL4ReDkDzony6ux1ujx9egVhxvBnBY4v3m9MUmME34B4BWCmEGb","contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"360","gas_limit":"10100","storage_limit":"0","amount":"1000000","destination":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":68,"change":"50000"}],"operation_result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-1000000"},{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"1000000"}],"consumed_gas":"100"}}}],"signature":"sigY9jp4j7WL8N6bVnmjQk7XvniMfQ6bhJn4XZsMeKSHG6SW1yYY94egsiEoYDWVa1jS5nKdKu8AvaDBrQGZQzn2VQBwdQYj"}]]}

'
  recorded_at: Fri, 12 Oct 2018 14:18:47 GMT
recorded_with: VCR 4.0.0
