---
http_interactions:
- request:
    method: get
    uri: https://alphanet-node.tzscan.io/chains/main/blocks/head
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","chain_id":"NetXZUqeBjDnWde","hash":"BLHrbMeJdbd5f52gPYdJiJYxGKmzxstaerGUPx53t9qD2GykmBj","header":{"level":127187,"proto":1,"predecessor":"BKxQpbzYtFCiiknNfgeE3dJLRxZZGZVJwC1NKhVG2cgsuSCjqyM","timestamp":"2018-10-01T09:56:52Z","validation_pass":4,"operations_hash":"LLoa7bxRTKaQN2bLYoitYB6bU2DvLnBAqrVjZcvJ364cTcX2PZYKU","fitness":["00","000000000036bc90"],"context":"CoW9j3YNpU8zbofJANxmXasXSADLgmb7tVF8Fcddg9yeoio3hhPN","priority":0,"proof_of_work_nonce":"c6164a9555a447a0","signature":"sigdU5oRaMcsG5NSkHbMEsw7Prns5i5mjUMQmzgTNovZcQrPopBTEetGH2NuGcJv884a24KNYkC5oLgUBAZUFBwxcmR5ZQqe"},"metadata":{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","next_protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":{"level":127187,"level_position":127186,"cycle":62,"cycle_position":210,"voting_period":3,"voting_period_position":28882,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":62,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz1eUsgK6aj752Fbxwk5sAoEFvSDnPjZ4qvk","level":62,"change":"16000000"}]},"operations":[[],[],[],[]]}

'
  recorded_at: Mon, 01 Oct 2018 09:59:41 GMT
recorded_with: VCR 4.0.0
