---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"14896"

'
  recorded_at: Fri, 26 Apr 2019 09:12:45 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BMK3mDDe7wrxg4ZV3w1gHRQuddYsu8RFAfwXErmLTJkJPHBeYQr"

'
  recorded_at: Fri, 26 Apr 2019 09:12:46 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BMK3mDDe7wrxg4ZV3w1gHRQuddYsu8RFAfwXErmLTJkJPHBeYQr","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"60000","counter":"14897","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"d2a2f3a588cb5611821be1657af18344d683ddd0e9aa91184fbf1decf907f9fa090000982fd7853b46e70022bc56f12b427855a2adb67ed08603b174a08d06e0d40300982fd7853b46e70022bc56f12b427855a2adb67e00ff000000"

'
  recorded_at: Fri, 26 Apr 2019 09:12:46 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BMK3mDDe7wrxg4ZV3w1gHRQuddYsu8RFAfwXErmLTJkJPHBeYQr","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"60000","counter":"14897","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}],"signature":"edsigtytb48363iLHiWn3kkFkwcECBKM1ZLG5gwjqYBb8RZwapbFiQA68gREcZzBTYZeavcJ49LQqdS5tpvjxLphx8rLccaCRQo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"origination","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"14897","gas_limit":"100000","storage_limit":"60000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","balance":"0","delegatable":false,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":162,"change":"50000"}],"operation_result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-257000"}],"originated_contracts":["KT1K4BNAGXZyfVsGYXRH5MdKYQdd9TaCHJaH"],"consumed_gas":"10000"}}}],"signature":"edsigtytb48363iLHiWn3kkFkwcECBKM1ZLG5gwjqYBb8RZwapbFiQA68gREcZzBTYZeavcJ49LQqdS5tpvjxLphx8rLccaCRQo"}

'
  recorded_at: Fri, 26 Apr 2019 09:12:46 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":{"level":332467,"level_position":332466,"cycle":162,"cycle_position":690,"voting_period":40,"voting_period_position":4786,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":162,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":162,"change":"16000000"}]}

'
  recorded_at: Fri, 26 Apr 2019 09:12:46 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","branch":"BMK3mDDe7wrxg4ZV3w1gHRQuddYsu8RFAfwXErmLTJkJPHBeYQr","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"20000","storage_limit":"60000","counter":"14897","fee":"5[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"d2a2f3a588cb5611821be1657af18344d683ddd0e9aa91184fbf1decf907f9fa090000982fd7853b46e70022bc56f12b427855a2adb67ed08603b174a09c01e0d40300982fd7853b46e70022bc56f12b427855a2adb67e00ff0000007da79c75776407936bd53c5bb2384d2276edeab993399edf6fa9d42ca84d985f9a2915a27521290a8cfce9666bc8aac95bdbec6312a811eaf0bd9cad18d6b608"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"onqMM62DRP6FG9JZTxtCdGta7LZFfG2uPa7enUjkbFmWkNofr2S"

'
  recorded_at: Fri, 26 Apr 2019 09:12:46 GMT
recorded_with: VCR 4.0.0
