---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BKy6iNto7skRH31Bya3AanW6Z4c6pPUiTbqKavc1czwRH3KLud8"

'
  recorded_at: Fri, 12 Oct 2018 14:11:06 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"354"

'
  recorded_at: Fri, 12 Oct 2018 14:11:06 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BKy6iNto7skRH31Bya3AanW6Z4c6pPUiTbqKavc1czwRH3KLud8","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"355","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"21a4bdda46f959b64b97c4976fd1fc184f23bc9dd5208bb209ca35a99d2e92a7090000982fd7853b46e70022bc56f12b427855a2adb67ed08603e302a08d06f02e00982fd7853b46e70022bc56f12b427855a2adb67e00ff000000"

'
  recorded_at: Fri, 12 Oct 2018 14:11:06 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BKy6iNto7skRH31Bya3AanW6Z4c6pPUiTbqKavc1czwRH3KLud8","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"355","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}],"signature":"edsigtfyFGjDvmfMaDdH1K2Ufcv9xxJBasCZSQvCSn3bSznxXBJHVGWz3dt4bCbPPEnQSx5dte9pSSKM1kKwHj7gxKwZeDC28KQ"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"origination","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"355","gas_limit":"100000","storage_limit":"6000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","balance":"0","delegatable":false,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":68,"change":"50000"}],"operation_result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-257000"}],"originated_contracts":["KT1HDTZSLtpQNEiSAMGeikUgZK5HBYV5x2Ku"]}}}],"signature":"edsigtfyFGjDvmfMaDdH1K2Ufcv9xxJBasCZSQvCSn3bSznxXBJHVGWz3dt4bCbPPEnQSx5dte9pSSKM1kKwHj7gxKwZeDC28KQ"}

'
  recorded_at: Fri, 12 Oct 2018 14:11:06 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","next_protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":{"level":140374,"level_position":140373,"cycle":68,"cycle_position":1109,"voting_period":4,"voting_period_position":9301,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":68,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":68,"change":"16000000"}]}

'
  recorded_at: Fri, 12 Oct 2018 14:11:06 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","branch":"BKy6iNto7skRH31Bya3AanW6Z4c6pPUiTbqKavc1czwRH3KLud8","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"10000","storage_limit":"0","counter":"355","fee":"50000",[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"21a4bdda46f959b64b97c4976fd1fc184f23bc9dd5208bb209ca35a99d2e92a7090000982fd7853b46e70022bc56f12b427855a2adb67ed08603e302904e0000982fd7853b46e70022bc56f12b427855a2adb67e00ff0000008b2d9410af116fb228ff7e30d7a76a10f7598db6b32f7febf585478b4bd8734af2398da4ef1a16239dedc5ef420eee43e50484bdc792daefe5af0556b1c3740b"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"oozU9AgTP5FaUFtySgBpbPbLAGdXV4kfLMuGTbHHSoqhGQvuM12"

'
  recorded_at: Fri, 12 Oct 2018 14:11:06 GMT
recorded_with: VCR 4.0.0
