---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BLGptJfTYX8KAfaUtkGfwE43uM7G142EvVFEnrpN8donvjfKSKT"

'
  recorded_at: Mon, 07 Jan 2019 16:38:39 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"13680"

'
  recorded_at: Mon, 07 Jan 2019 16:38:39 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BLGptJfTYX8KAfaUtkGfwE43uM7G142EvVFEnrpN8donvjfKSKT","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"13681","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"49e521ba21f0391952d961d5112dc116789a831a802458cb7cf761ed56e3b252090000982fd7853b46e70022bc56f12b427855a2adb67ed08603f16aa08d06f02e00982fd7853b46e70022bc56f12b427855a2adb67e00ff000000"

'
  recorded_at: Mon, 07 Jan 2019 16:38:39 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BLGptJfTYX8KAfaUtkGfwE43uM7G142EvVFEnrpN8donvjfKSKT","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"13681","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}],"signature":"edsigtZRfLvBtbsuyV6CYUvLVaGs2mfU3kSVE12hnCbiR7Nmk3XP6TuNSNBCq46TtMYvj44dzGZpydbo2wmBJuaGUkovioYxfTM"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"kind":"branch","id":"proto.003-PsddFKi3.implicit.empty_implicit_contract","implicit":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}]

'
  recorded_at: Mon, 07 Jan 2019 16:38:39 GMT
recorded_with: VCR 4.0.0
