---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BLEfTMKLWR6WUDBdCn9nB6bLdYkwcZmYqTmy8wP7zTtXNQKCp7n"

'
  recorded_at: Tue, 08 Jan 2019 16:54:26 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"13839"

'
  recorded_at: Tue, 08 Jan 2019 16:54:26 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BLEfTMKLWR6WUDBdCn9nB6bLdYkwcZmYqTmy8wP7zTtXNQKCp7n","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"13840","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"44fc1009c393d4172a47f26359a918834b610fafa9aa20492eac22447402defe090000982fd7853b46e70022bc56f12b427855a2adb67ed08603906ca08d06f02e00982fd7853b46e70022bc56f12b427855a2adb67e00ff000000"

'
  recorded_at: Tue, 08 Jan 2019 16:54:26 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BLEfTMKLWR6WUDBdCn9nB6bLdYkwcZmYqTmy8wP7zTtXNQKCp7n","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"100000","storage_limit":"6000","counter":"13840","fee":"50000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}],"signature":"edsigtyPHsyTH7NX4Y7uvd7pkZeW4uXEPBjrPSUPaPqzJoNChNmh86bp8pPe8gqUA5SBxPFxAjyvbAE6hjtKuha417SxvQJC9vo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"origination","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"13840","gas_limit":"100000","storage_limit":"6000","managerPubkey":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","balance":"0","delegatable":false,"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":43,"change":"50000"}],"operation_result":{"status":"applied","balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-257000"}],"originated_contracts":["KT1ACqs4GcTSjxcpdRVj2sieoKUtn621vF7H"],"consumed_gas":"10000"}}}],"signature":"edsigtyPHsyTH7NX4Y7uvd7pkZeW4uXEPBjrPSUPaPqzJoNChNmh86bp8pPe8gqUA5SBxPFxAjyvbAE6hjtKuha417SxvQJC9vo"}

'
  recorded_at: Tue, 08 Jan 2019 16:54:26 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":{"level":88885,"level_position":88884,"cycle":43,"cycle_position":820,"voting_period":10,"voting_period_position":6964,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"23534","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":43,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3WXYtyDUNL91qfiCJtVUX746QpNv5i5ve5","level":43,"change":"16000000"}]}

'
  recorded_at: Tue, 08 Jan 2019 16:54:26 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","branch":"BLEfTMKLWR6WUDBdCn9nB6bLdYkwcZmYqTmy8wP7zTtXNQKCp7n","contents":[{"kind":"origination","delegatable":false,"spendable":true,"balance":"0","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","gas_limit":"20000","storage_limit":"6000","counter":"13840","fee":"50[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"44fc1009c393d4172a47f26359a918834b610fafa9aa20492eac22447402defe090000982fd7853b46e70022bc56f12b427855a2adb67ed08603906ca09c01f02e00982fd7853b46e70022bc56f12b427855a2adb67e00ff000000990544c53b341a1f109c198db62e92b25227d8ee6b2a364b086ae80752c8563f97eb8cfac36d84254f7b87908c069a1a7d014692d63fab096ebe0da26322840f"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"op9cYJq5er36gSEk1csGq37XxaPAvqCmMXx5ME8cUwgVjLEJBvW"

'
  recorded_at: Tue, 08 Jan 2019 16:54:26 GMT
recorded_with: VCR 4.0.0
