---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/header
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"BLJsYFqAiPJ3gaHL7zKS4J2YmG9juLZAR9cyKbq8APWrdmYVDo8","level":86558,"proto":1,"predecessor":"BLccdc5af534g38dGGAV15Uho7nKoWmufnQndnUKi2ECKUYg38F","timestamp":"2019-01-07T16:32:48Z","validation_pass":4,"operations_hash":"LLoaUsWJzYySzuHGQ37HCjxZ7KUjyLiht2jy4ANzSLgW61n1Tu4wd","fitness":["00","000000000026df90"],"context":"CoUuFyRbL9YZuN66949wM64ty23EUNte2vDwgUvHxH5ALWuZJZ64","priority":1,"proof_of_work_nonce":"0000000319515517","signature":"sigPEWtrHdzXGLBmd5bJProsrstvuP1a8FUYdVzScAmuuuLBrETB9W5aNNy3MtX5RRrmLeZDvssiMBVYEY68AMyJLoVMf6aZ"}

'
  recorded_at: Mon, 07 Jan 2019 16:33:37 GMT
recorded_with: VCR 4.0.0
