---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/header
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","chain_id":"NetXgtSLGNJvNye","hash":"BLPdBJ5urrHx4TSbM6Bg7cfaK4FhBmTGXRJJGTn54UADiw6enVB","level":88920,"proto":1,"predecessor":"BLDLRBrUmam7iFhUgQa9NyeieDFKnysyXscH7dzJ8WYwH7tjwWM","timestamp":"2019-01-08T17:16:28Z","validation_pass":4,"operations_hash":"LLoawYbRGJxSJ7MNUd5Jeg2jvvL3zSnXEXNGtN1mtsA4Mw8SXPA17","fitness":["00","000000000027ed35"],"context":"CoVfjVybBNgcoSdb2iXgha8Hxhmkwqimp5V8sHyGwp3YumVn3jxt","priority":3,"proof_of_work_nonce":"00000003903d3936","signature":"sigtG46owdhmnTc3kk5R5Mbx8rge9Bc8WX6thxPxgVMziFWLstYkG3pRh563sKuw4ctm9dZcpa9wuc43d6RPUxANJGdRtXAw"}

'
  recorded_at: Tue, 08 Jan 2019 17:17:14 GMT
recorded_with: VCR 4.0.0
