---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/header
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","chain_id":"NetXZUqeBjDnWde","hash":"BLQSz2Vb5u6dX16ySKj3FUZJXYEAo6BXT4EvqsqsuPWAzrswr2E","level":140383,"proto":1,"predecessor":"BLf87nzyZBY4i4c8vNfjxXy2ifFeoiBv119RkGfwr2rnbBXQJ93","timestamp":"2018-10-12T14:19:32Z","validation_pass":4,"operations_hash":"LLoa7bxRTKaQN2bLYoitYB6bU2DvLnBAqrVjZcvJ364cTcX2PZYKU","fitness":["00","00000000003aa35a"],"context":"CoVuerpaPMwchRVE6tjk2MhKnyQzRfhiqPzg71t5pafhKuNrEv3a","priority":0,"proof_of_work_nonce":"ef6ef00a52147752","signature":"sigqdHShSVp4jakhxmPA4FTwnrHE1AQQ51RrvZU74hqGcA3FeocGu2jhgujDtyq3FfkDG1To6cqaPMzEFTrjGTrqzjJryAip"}

'
  recorded_at: Fri, 12 Oct 2018 14:21:37 GMT
recorded_with: VCR 4.0.0
