---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BKq71Ter27AP8uXnWCjESgysyaTZjPo15snSQWr36Pz12CHjS8F"

'
  recorded_at: Mon, 07 Jan 2019 16:35:22 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"13680"

'
  recorded_at: Mon, 07 Jan 2019 16:35:22 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BKq71Ter27AP8uXnWCjESgysyaTZjPo15snSQWr36Pz12CHjS8F","contents":[{"kind":"transaction","amount":"5000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MZTrMDPB42P9yvjf7Cy8Lkjxjj4jetbCt","gas_limit":"40000","storage_limit":"6000","counter":"13681","fee":"50000","parameters":{"string":"pro"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"0f7d7570d3972dfc17cc604a9c2b1b56b90cbbcba4ed8b6f6812c03637968af8080000982fd7853b46e70022bc56f12b427855a2adb67ed08603f16ac0b802f02ec096b102018e5a6ea8fcef3db174c5c56dbb86bf588c9a7da000ff00000008010000000370726f"

'
  recorded_at: Mon, 07 Jan 2019 16:35:22 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BKq71Ter27AP8uXnWCjESgysyaTZjPo15snSQWr36Pz12CHjS8F","contents":[{"kind":"transaction","amount":"5000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MZTrMDPB42P9yvjf7Cy8Lkjxjj4jetbCt","gas_limit":"40000","storage_limit":"6000","counter":"13681","fee":"50000","parameters":{"string":"pro"}}],"signature":"edsigtvkAwAzJsSSw5gBtmhYE1UsadHXp7JFRjcmEgSDqtt2M3fQ8FJeBFoLDH8scqK8ZMMyUpDa7AxYoqZgXzkDXiH7K18Smv8"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"kind":"branch","id":"proto.003-PsddFKi3.implicit.empty_implicit_contract","implicit":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq"}]

'
  recorded_at: Mon, 07 Jan 2019 16:35:22 GMT
recorded_with: VCR 4.0.0
