---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BMCvgnFEEDkpoe3zjL1J1Hh1dtiGULZjRSnuJJvYMWQsxbFmcsX"

'
  recorded_at: Fri, 12 Oct 2018 13:48:40 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"347"

'
  recorded_at: Fri, 12 Oct 2018 13:48:40 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BMCvgnFEEDkpoe3zjL1J1Hh1dtiGULZjRSnuJJvYMWQsxbFmcsX","contents":[{"kind":"transaction","amount":"5000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MZTrMDPB42P9yvjf7Cy8Lkjxjj4jetbCt","gas_limit":"40000","storage_limit":"6000","counter":"348","fee":"50000","parameters":{"string":"pro"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"c4bc5b1a03b6f4c5c4ebe284314384170d37e7c4d47482ab48e6287cef9b8c65080000982fd7853b46e70022bc56f12b427855a2adb67ed08603dc02c0b802f02ec096b102018e5a6ea8fcef3db174c5c56dbb86bf588c9a7da000ff00000008010000000370726f"

'
  recorded_at: Fri, 12 Oct 2018 13:48:40 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BMCvgnFEEDkpoe3zjL1J1Hh1dtiGULZjRSnuJJvYMWQsxbFmcsX","contents":[{"kind":"transaction","amount":"5000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MZTrMDPB42P9yvjf7Cy8Lkjxjj4jetbCt","gas_limit":"40000","storage_limit":"6000","counter":"348","fee":"50000","parameters":{"string":"pro"}}],"signature":"edsigttoTekJVRDBytr2gcNEs6xRTMDY7cfmgUrCiN74Pa5pi2gZ7za9cFdY5E5QTYJ4ZgSDt4awYno1xBWY6nJoBPBzZ5z1vRa"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"348","gas_limit":"40000","storage_limit":"6000","amount":"5000000","destination":"KT1MZTrMDPB42P9yvjf7Cy8Lkjxjj4jetbCt","parameters":{"string":"pro"},"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":68,"change":"50000"}],"operation_result":{"status":"applied","storage":[{"prim":"Elt","args":[{"string":"ocaml"},{"int":"0"}]},{"prim":"Elt","args":[{"string":"pro"},{"int":"11"}]},{"prim":"Elt","args":[{"string":"test"},{"int":"0"}]}],"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-5000000"},{"kind":"contract","contract":"KT1MZTrMDPB42P9yvjf7Cy8Lkjxjj4jetbCt","change":"5000000"}],"consumed_gas":"9779","storage_size":"474"}}}],"signature":"edsigttoTekJVRDBytr2gcNEs6xRTMDY7cfmgUrCiN74Pa5pi2gZ7za9cFdY5E5QTYJ4ZgSDt4awYno1xBWY6nJoBPBzZ5z1vRa"}

'
  recorded_at: Fri, 12 Oct 2018 13:48:40 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","next_protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz1fyYJwgV1ozj6RyjtU1hLTBeoqQvQmRjVv","level":{"level":140357,"level_position":140356,"cycle":68,"cycle_position":1092,"voting_period":4,"voting_period_position":9284,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"100","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz1fyYJwgV1ozj6RyjtU1hLTBeoqQvQmRjVv","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz1fyYJwgV1ozj6RyjtU1hLTBeoqQvQmRjVv","level":68,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz1fyYJwgV1ozj6RyjtU1hLTBeoqQvQmRjVv","level":68,"change":"16000000"}]}

'
  recorded_at: Fri, 12 Oct 2018 13:48:40 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsYLVpVvgbLhAhoqAkMFUo6gudkJ9weNXhUYCiLDzcUpFpkk8Wt","branch":"BMCvgnFEEDkpoe3zjL1J1Hh1dtiGULZjRSnuJJvYMWQsxbFmcsX","contents":[{"kind":"transaction","amount":"5000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1MZTrMDPB42P9yvjf7Cy8Lkjxjj4jetbCt","gas_limit":"19779","storage_limit":"0","counter"[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"c4bc5b1a03b6f4c5c4ebe284314384170d37e7c4d47482ab48e6287cef9b8c65080000982fd7853b46e70022bc56f12b427855a2adb67ed08603dc02c39a0100c096b102018e5a6ea8fcef3db174c5c56dbb86bf588c9a7da000ff00000008010000000370726fbcefbf4b21dc016f16fcc2c0a63f494fc5047cb469de83cc6992c7bc25a08d5a9343beb91f94375144ba2e4cad5e762ecd056a72d34f59535b4a3d0a15a1820b"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"opVxkX2nFqMgN1MLe6ju3qedsFXMiwwA5NizL5sXLM8s3kLwsDR"

'
  recorded_at: Fri, 12 Oct 2018 13:48:40 GMT
recorded_with: VCR 4.0.0
