---
http_interactions:
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/hash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"BLJsHDbiCy5JZjNu6xwNfPqyG3SEmXDSN9Ur5bouyrftbbGJh95"

'
  recorded_at: Tue, 08 Jan 2019 15:30:26 GMT
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/context/contracts/tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq/counter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"13823"

'
  recorded_at: Tue, 08 Jan 2019 15:30:26 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/forge/operations
    body:
      encoding: UTF-8
      string: '{"branch":"BLJsHDbiCy5JZjNu6xwNfPqyG3SEmXDSN9Ur5bouyrftbbGJh95","contents":[{"kind":"transaction","amount":"5000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1FLmwGK2ptfyG8gxAPWPMVS7iGgPzkJEBE","gas_limit":"40000","storage_limit":"6000","counter":"13824","fee":"50000","parameters":{"string":"pro"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"4e87b19469b9a1bddb4f139a791d3e4498f9627d3a25d730e033701634cf295e080000982fd7853b46e70022bc56f12b427855a2adb67ed08603806cc0b802f02ec096b102014a235dcf9657d413d73fac328f74cdcab58a394000ff00000008010000000370726f"

'
  recorded_at: Tue, 08 Jan 2019 15:30:26 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/scripts/run_operation
    body:
      encoding: UTF-8
      string: '{"branch":"BLJsHDbiCy5JZjNu6xwNfPqyG3SEmXDSN9Ur5bouyrftbbGJh95","contents":[{"kind":"transaction","amount":"5000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1FLmwGK2ptfyG8gxAPWPMVS7iGgPzkJEBE","gas_limit":"40000","storage_limit":"6000","counter":"13824","fee":"50000","parameters":{"string":"pro"}}],"signature":"edsigtqvkdWwN8kFnczcj12JmErZEi5vbaSbbYaU1k7MzjXc1NY1Q4i1kwzTRcbbpk8LvPYjtpZUfesiWG2gGTPBDgZDMZBZgcA"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contents":[{"kind":"transaction","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","fee":"50000","counter":"13824","gas_limit":"40000","storage_limit":"6000","amount":"5000000","destination":"KT1FLmwGK2ptfyG8gxAPWPMVS7iGgPzkJEBE","parameters":{"string":"pro"},"metadata":{"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-50000"},{"kind":"freezer","category":"fees","delegate":"tz1Ke2h7sDdakHJQh8WX4Z372du1KChsksyU","level":43,"change":"50000"}],"operation_result":{"status":"applied","storage":[{"prim":"Elt","args":[{"string":"ocaml"},{"int":"0"}]},{"prim":"Elt","args":[{"string":"pro"},{"int":"1"}]},{"prim":"Elt","args":[{"string":"test"},{"int":"0"}]}],"balance_updates":[{"kind":"contract","contract":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","change":"-5000000"},{"kind":"contract","contract":"KT1FLmwGK2ptfyG8gxAPWPMVS7iGgPzkJEBE","change":"5000000"}],"consumed_gas":"20034","storage_size":"499"}}}],"signature":"edsigtqvkdWwN8kFnczcj12JmErZEi5vbaSbbYaU1k7MzjXc1NY1Q4i1kwzTRcbbpk8LvPYjtpZUfesiWG2gGTPBDgZDMZBZgcA"}

'
  recorded_at: Tue, 08 Jan 2019 15:30:26 GMT
[...]
- request:
    method: get
    uri: http://alphanet-node.tzscan.io//chains/main/blocks/head/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","next_protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","test_chain_status":{"status":"not_running"},"max_operations_ttl":60,"max_operation_data_length":16384,"max_block_header_length":238,"max_operation_list_length":[{"max_size":32768,"max_op":32},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"baker":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":{"level":88749,"level_position":88748,"cycle":43,"cycle_position":684,"voting_period":10,"voting_period_position":6828,"expected_commitment":false},"voting_period_kind":"proposal","nonce_hash":null,"consumed_gas":"0","deactivated":[],"balance_updates":[{"kind":"contract","contract":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","change":"-512000000"},{"kind":"freezer","category":"deposits","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":43,"change":"512000000"},{"kind":"freezer","category":"rewards","delegate":"tz3gN8NTLNLJg5KRsUU47NHNVHbdhcFXjjaB","level":43,"change":"16000000"}]}

'
  recorded_at: Tue, 08 Jan 2019 15:30:26 GMT
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/chains/main/blocks/head/helpers/preapply/operations
    body:
      encoding: UTF-8
      string: '[{"protocol":"PsddFKi32cMJ2qPjf43Qv5GDWLDPZb3T3bF6fLKiF5HtvHNU7aP","branch":"BLJsHDbiCy5JZjNu6xwNfPqyG3SEmXDSN9Ur5bouyrftbbGJh95","contents":[{"kind":"transaction","amount":"5000000","source":"tz1ZWiiPXowuhN1UqNGVTrgNyf5tdxp4XUUq","destination":"KT1FLmwGK2ptfyG8gxAPWPMVS7iGgPzkJEBE","gas_limit":"30034","storage_limit":"6000","count[...]
- request:
    method: post
    uri: http://alphanet-node.tzscan.io/injection/operation?chain=main
    body:
      encoding: UTF-8
      string: '"4e87b19469b9a1bddb4f139a791d3e4498f9627d3a25d730e033701634cf295e080000982fd7853b46e70022bc56f12b427855a2adb67ed08603806cd2ea01f02ec096b102014a235dcf9657d413d73fac328f74cdcab58a394000ff00000008010000000370726fc52786b7e79e8a5abf1a28e915c170195ead5dcddaa909a99b684e4bfefb7c2087e38130c1504f39138c084394a4bb372673f67ce6a0187ba44124f14162cf09"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"ooHc6ccnUgqDJo5UzwBbumL3Wtyn9RycTcq2BJtNfWbvPXQYG2t"

'
  recorded_at: Tue, 08 Jan 2019 15:30:26 GMT
recorded_with: VCR 4.0.0
